<section class="eco-nuts__container">
    <div class="eco-nuts__content">
        <div class="eco-nuts__text-block">
            <h2 class="eco-nuts__title">Экологически чистый грецкий орех</h2>
            <h3 class="eco-nuts__title-sub">Оптом, и в розницу</h3>
            <div class="eco-nuts__text-scroll-block">
                <div class="eco-nuts__scrollbar"></div>
                <div class="eco-nuts__text-scroll">
                    <p class="eco-nuts__text">
                        Сельскохозяйственный обслуживающий кооператив “Орех Причерноморья” выращивает смешанные сады
                        ореха грецкого с фундуком, а также ореха грецкого с шиповником, на площади более 150 гектаров.
                    </p>
                    <p class="eco-nuts__text">
                        Помимо этого кооператив занимается выращиванием посадочного материала, саженцов привитого и
                        непривитого грецкого ореха, фундука и шиповника.
                    </p>
                    <p class="eco-nuts__text">
                        Предприятие укомплектовано всей необходимой техникой и оборудованием для выращивания
                        интенсивного сада, воспроизводства саженцев в питомнике и выращивания трюфеля.
                    </p>
                    <p class="eco-nuts__text">
                        История предприятия Наше предприятие основано в 2012 году для закладки смешанного сада грецкого
                        ореха и фундука.
                    </p>
                    <p class="eco-nuts__text">
                        На сегодня мы уже заложили более 100 гектаров сада и продолжаем расширять свои насаждения. Кроме
                        выращивания грецкого ореха и фундука, мы занимаемся выращиванием саженцев, разведением и
                        выращиванием овец, а также являемся первой в Украине компанией, приступившей к промышленному
                        выращиванию трюфелей на корнях фундука.
                    </p>
                    <p class="eco-nuts__text">
                        Земля, которой пользуется кооператив, является собственностью членов нашего кооператива.
                    </p>
                    <p class="eco-nuts__text">
                        Сельскохозяйственный обслуживающий кооператив “Орех Причерноморья” выращивает смешанные сады
                        ореха грецкого с фундуком, а также ореха грецкого с шиповником, на площади более 150 гектаров.
                    </p>
                    <p class="eco-nuts__text">
                        Помимо этого кооператив занимается выращиванием посадочного материала, саженцов привитого и
                        непривитого грецкого ореха, фундука и шиповника.
                    </p>
                    <p class="eco-nuts__text">
                        Предприятие укомплектовано всей необходимой техникой и оборудованием для выращивания
                        интенсивного сада, воспроизводства саженцев в питомнике и выращивания трюфеля.
                    </p>
                    <p class="eco-nuts__text">
                        История предприятия Наше предприятие основано в 2012 году для закладки смешанного сада грецкого
                        ореха и фундука.
                    </p>
                    <p class="eco-nuts__text">
                        На сегодня мы уже заложили более 100 гектаров сада и продолжаем расширять свои насаждения. Кроме
                        выращивания грецкого ореха и фундука, мы занимаемся выращиванием саженцев, разведением и
                        выращиванием овец, а также являемся первой в Украине компанией, приступившей к промышленному
                        выращиванию трюфелей на корнях фундука.
                    </p>
                    <p class="eco-nuts__text">
                        Земля, которой пользуется кооператив, является собственностью членов нашего кооператива.
                    </p>
                </div>
            </div>
        </div>
        <div class="eco-nuts__swiper-block">
            <div class="swiper eco-nuts__swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img
                            class="eco-nuts__img"
                            src="#"
                            alt="image of nuts"
                            width="700"
                            height="472"
                            loading="lazy"
                        />
                    </div>
                    <div class="swiper-slide">
                        <img
                            class="eco-nuts__img"
                            src="#"
                            alt="image of nuts"
                            width="700"
                            height="472"
                            loading="lazy"
                        />
                    </div>
                    <div class="swiper-slide">
                        <img
                            class="eco-nuts__img"
                            src="#"
                            alt="image of nuts"
                            width="700"
                            height="472"
                            loading="lazy"
                        />
                    </div>
                </div>
                <div class="swiper__block">
                    <div class="eco-nuts__button-prev swiper__button-prev">
                        <svg class="swiper__svg-prev">
                            <use href="#arrow"></use>
                        </svg>
                    </div>
                    <div class="eco-nuts__button-next swiper__button-next">
                        <svg class="swiper__svg-next">
                            <use href="#arrow"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
