.manufacturing {
    &__background {
        background: $manufacturingBackground;
        margin-top: 90px;
        padding: 100px 0 90px 0;

        @include breakpoints(md) {
            padding: 80px 0;
        }

        @include breakpoints(sm) {
            margin-top: 45px;
            padding: 45px 0;
        }

        @include breakpoints(xs) {
            padding: 30px 0;
        }
    }

    &__content {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        width: 99%;
        gap: 25px;

        @include breakpoints(xl) {
            width: 96%;
        }

        @include breakpoints(md) {
            width: 75%;
            flex-direction: column;
        }

        @include breakpoints(sm) {
            width: 100%;
            gap: 20px;
        }
    }

    &__text-block {
        margin: 29px 0 0 17px;
        width: 40%;

        @include breakpoints(xl) {
            width: 43%;
            margin: 0;
        }

        @include breakpoints(md) {
            width: 100%;
            display: flex;
            flex-direction: column;
        }
    }

    &__title {
        font-size: 45px;
        letter-spacing: 0.02em;

        @include breakpoints(md) {
            text-align: center;
        }

        @include breakpoints(sm) {
            font-size: 30px;
        }
    }

    &__text-first {
        width: 88%;
        margin-top: 43px;
        line-height: 1.6;

        @include breakpoints(xl) {
            width: 100%;
            margin-top: 30px;
        }

        @include breakpoints(md) {
            text-align: center;
        }
    }

    &__text-green {
        font-weight: 600;
    }

    &__text-second {
        margin-top: 25px;
        line-height: 1.6;

        @include breakpoints(md) {
            text-align: center;
        }
    }

    &__text-first,
    &__text-second {
        @include breakpoints(sm) {
            margin-top: 15px;
            font-size: 14px;
        }
    }

    &__text-button {
        margin-top: 43px;
        font-size: 14px;
        padding: 17px 43px;

        @include breakpoints(xl) {
            margin-top: 28px;
        }

        @include breakpoints(md) {
            margin: 28px auto 0;
        }

        @include breakpoints(sm) {
            margin: 20px auto 0;
            padding: 13px 45px;
        }
    }

    &__swiper {
        position: relative;
        overflow: hidden;
        width: 700px;
        z-index: 2;
        aspect-ratio: 16/10.8;

        @include breakpoints(md) {
            margin: 0 auto;
            width: 85%;
        }

        @include breakpoints(sm) {
            width: 94%;
        }

        @include breakpoints(xs) {
            width: 100%;
        }
    }

    &__slide {
        overflow: hidden;
    }

    &__player {
        width: 700px;
        background: $gray;
    }

    &__youtube-container {
        position: relative;
        background: $manufacturingBackground;
        overflow: hidden;
        width: 100%;
        aspect-ratio: 16/10.8;

        iframe {
            width: 300%;
            height: 100%;
            margin-left: -100%;
        }
    }

    &__preview-img {
        &-block {
            cursor: pointer;
            position: absolute;
            max-width: 100%;
            height: 100%;

            &_active {
                display: none;
            }

            &:hover {
                .manufacturing__play {
                    background: $mainGreen;
                    border: 1px solid $mainGreen;
                }
            }
        }
    }

    &__play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 4px 0 0 4px;
        border: 2px solid $backgroundColor;
    }

    &__play-svg {
        width: 14px;
        height: 17px;
        fill: $backgroundColor;
    }
}
