.footer {
    &__content {
        padding-bottom: 40px;
        margin: 74px auto 0;
        width: 99%;

        @include breakpoints(sm) {
            margin: 40px auto 0;
            padding-bottom: 20px;
        }
    }

    &__links-block {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include breakpoints(sm) {
            flex-direction: column;
        }
    }

    &__logo {
        &-link {
            margin-left: 15px;
            display: flex;
            align-items: center;

            @include breakpoints(sm) {
                margin-left: 0;
                flex-direction: column;
            }
        }

        &-img {
            @include breakpoints(md) {
                width: 40px;
                height: 40px;
            }
        }

        &-text {
            margin-left: 9px;
            width: 180px;
            font-weight: 800;
            font-size: 15px;
            letter-spacing: 0.02em;

            @include breakpoints(md) {
                width: 150px;
            }

            @include breakpoints(sm) {
                margin: 10px 0 0;
                text-align: center;
            }
        }
    }

    &__social-media-visible {
        @include breakpoints(md) {
            display: flex;
        }
    }

    &__links {
        margin-top: 25px;
        width: 76%;
        display: flex;
        justify-content: space-between;

        @include breakpoints(md) {
            width: 60%;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 10px;
            margin: 0;
        }

        @include breakpoints(sm) {
            margin-top: 20px;
            grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
            width: 100%;
        }
    }

    &__link-item {
        display: flex;
    }

    &__link {
        font-weight: 600;
        font-size: 15px;
        transition: color 0.3s ease-in-out;

        &:hover {
            color: $mainGreen;
        }
    }

    &__copyright-block {
        margin-top: 48px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include breakpoints(sm) {
            margin-top: 20px;
            flex-direction: column;
            gap: 5px;
        }
    }

    &__developed {
        &-text {
            margin-left: 16px;
            font-weight: 400;
            font-size: 12px;
            font-family: $supportFonts;
        }

        &-strong {
            color: $mainGreen;
            font-weight: 800;
        }

        &-green {
            color: $mainGreen;
        }
    }

    &__copyright {
        font-weight: 400;
        font-size: 12px;
        font-family: $supportFonts;
    }
}

.catalog-products__margin-footer {
    margin-top: 95px;

    @include breakpoints(md) {
        margin-top: 90px;
    }

    @include breakpoints(sm) {
        margin-top: 45px;
    }
}
