// checkbox

.checkbox {
    &__label {
        cursor: pointer;
        display: flex;
    }

    &__svg {
        padding: 1px;
        fill: $mainGreen;
        border: 2px solid $mainGreen;
    }
}

.radio {
    display: block;
    cursor: pointer;
    text-align: left;

    input {
        display: none;

        & + span {
            display: inline-block;
            position: relative;

            &:before {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 50%;
                margin-right: 5px;
                width: 15px;
                height: 15px;
                border: 2px solid $mainGreen;
            }

            &:after {
                content: "";
                display: block;
                width: 7px;
                height: 7px;
                background: $mainGreen;
                position: absolute;
                border-radius: 50%;
                top: 4px;
                left: 4px;
                transform: scale(0, 0);
                transition: all 0.3s cubic-bezier(0.64, 0.57, 0.67, 1.53);
            }
        }

        &:checked + span:after {
            transform: scale(1, 1);
        }
    }
}

.input {
    &__block {
        position: relative;
    }

    &__label,
    &__area {
        font-size: 14px;
        line-height: 121%;
        font-family: $supportFonts;

        @include breakpoints(xl) {
            font-size: 13px;
        }
    }

    &__area {
        padding: 15px 15px;
        border: 1px solid $registrationBorder;
        transition: border 0.5s ease-in-out;

        @include breakpoints(md) {
            padding: 12px 15px;
        }

        &:hover {
            border: 1px solid $subGreat;
        }

        &:active {
            border: 1px solid $subGreat;
        }

        &:focus {
            border: 1px solid $subGreat;
        }
    }

    &__label {
        position: absolute;
        display: block;
        padding: 0 5px;
        top: 17px;
        left: 12px;
        transition:
            top,
            0.5s ease-in-out;

        @include breakpoints(md) {
            top: 14px;
        }

        &_active {
            background-color: $backgroundColor;
            font-size: 6px;
            top: 0;
        }
    }

    &-photo {
        &__block {
            width: 130px;
            position: relative;

            @include breakpoints(xs) {
                margin: 0 auto;
            }
        }

        &__label {
        }

        &__input {
            position: absolute;
            top: 0;
            width: 100%;
            opacity: 0;
        }

        &__img {
            aspect-ratio: 9/12;
            object-fit: cover;
            width: 100%;
        }
    }
}

//  errors-messages

.error {
    &__block {
        position: absolute;
        top: calc(88% - 3px);
        left: 2%;
        background: #cd1515;
        padding: 3px 15px;
        z-index: 1;
        border-radius: 5px;

        &:after {
            content: "";
            padding: 5px;
            position: absolute;
            background: #cd1515;
            top: calc(0% - 4px);
            left: 10%;
            z-index: -1;
            transform: rotate(45deg);
            border-radius: 2px;
        }
    }

    &__input {
        border: solid 1px #cd1515;

        &:hover {
            border: solid 1px #cd1515;
        }

        &:active {
            border: solid 1px #cd1515;
        }

        &:focus {
            border: solid 1px #cd1515;
        }
    }

    &__text {
        font-size: 11px;
        color: cornsilk;
    }
}
