.product {
    display: flex;
    flex-direction: column;

    &__main-page {
        margin: 83px auto 0;

        @include breakpoints(md) {
            margin: 50px auto 0;
        }

        &-title {
            text-align: center;

            @include breakpoints(sm) {
                font-size: 30px;
            }
        }

        &-text {
            margin: 30px auto 0;
            width: 46%;
            text-align: center;
            font-size: 18px;
            line-height: 155%;
            letter-spacing: 0.01em;

            @include breakpoints(sm) {
                width: 80%;
                font-size: 14px;
            }
        }
    }

    &__cards {
        margin: 60px auto 0;
        width: 96%;
        display: grid;
        column-gap: 28px;
        row-gap: 45px;
        grid-template-columns: repeat(3, 1fr);

        @include breakpoints(md) {
            margin: 35px auto 0;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            column-gap: 8px;
            row-gap: 15px;
        }

        @include breakpoints(sm) {
            grid-template-columns: repeat(auto-fill, minmax(298px, 1fr));
        }

        @include breakpoints(sm) {
            column-gap: 5px;
            row-gap: 5px;
        }
    }

    &__card {
        position: relative;
        padding: 1px;
        width: 409px;
        border: 2px solid $cardBorder;
        transition: border 0.5s ease-in-out;

        @include breakpoints(xl) {
            width: 100%;
        }

        &:hover {
            border: 2px solid $subGreat;
        }

        &-swiper {
            &:hover {
                .base-product__search {
                    opacity: 1;

                    &:hover {
                        padding: 25px;
                    }
                }
            }
        }

        .product__slide {
            margin: 0 auto;

            @include breakpoints(xl) {
                width: 80%;
            }

            @include breakpoints(sm) {
                min-width: 250px;
            }
        }

        &-text-block {
            display: flex;
            flex-direction: column;
            padding: 20px 14px 14px;
            max-height: 255px;
            height: 100vh;

            @include breakpoints(md) {
                padding: 10px;
                max-height: 250px;
            }

            @include breakpoints(sm) {
                max-height: 145px;
            }

            @include breakpoints(xs) {
                padding: 7px;
            }
        }

        &-type {
            font-weight: 700;
            font-size: 18px;
            letter-spacing: 0.01em;

            @include breakpoints(sm) {
                font-size: 14px;
            }
        }

        &-art {
            margin-top: 6px;
            color: $gray;
            font-weight: 500;
            font-size: 15px;
            letter-spacing: 0.01em;
            font-family: $supportFonts;

            @include breakpoints(sm) {
                display: none;
            }
        }

        &-title {
            margin-top: 12px;
            width: 70%;
            font-weight: 600;
            font-size: 16px;
            line-height: 120%;
            letter-spacing: 0.01em;

            @include breakpoints(sm) {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                width: 100%;
                margin-top: 5px;
                font-size: 14px;
            }
        }

        &-info {
            margin-top: auto;
            width: 96%;
            display: flex;
            justify-content: space-between;
        }

        &-weight {
            display: flex;
            align-items: center;
            gap: 9px;

            &-svg {
                width: 18px;
                height: 18px;

                @include breakpoints(sm) {
                    width: 12px;
                    height: 12px;
                }
            }

            &-block {
            }

            &-text {
                color: $gray;
                font-size: 14px;
                letter-spacing: 0.01em;
                font-family: $supportFonts;

                @include breakpoints(sm) {
                    font-size: 12px;
                }
            }

            &-data {
                color: $mainGreen;
                font-weight: 600;
                font-size: 14px;
                letter-spacing: 0.01em;
                font-family: $supportFonts;

                @include breakpoints(sm) {
                    font-size: 12px;
                }
            }
        }

        &-packaging {
            display: flex;
            align-items: center;
            gap: 14px;

            &-svg {
                width: 12px;
                height: 17px;

                @include breakpoints(sm) {
                    height: 15px;
                }
            }

            &-block {
            }

            &-text {
                color: $gray;
                font-weight: 500;
                font-size: 14px;
                letter-spacing: 0.01em;
                font-family: $supportFonts;

                @include breakpoints(sm) {
                    font-size: 12px;
                }
            }

            &-data {
                color: $mainGreen;
                font-weight: 600;
                font-size: 14px;
                letter-spacing: 0.01em;
                font-family: $supportFonts;

                @include breakpoints(sm) {
                    font-size: 12px;
                }
            }
        }
    }

    &__button {
        margin: 70px auto 0;
        padding: 15px 27px;
        font-weight: 700;
        font-size: 15px;
        letter-spacing: 0.02em;

        @include breakpoints(sm) {
            margin: 40px auto 0;
            padding: 10px 27px;
            font-size: 12px;
        }
    }

    &__button-load-card {
        padding: 14px 30px;
        margin: 70px auto 0;
        width: 205px;

        @include breakpoints(md) {
            margin: 50px auto 0;
            font-size: 14px;
            padding: 12px 20px;
            width: 190px;
        }

        @include breakpoints(sm) {
            margin: 35px auto 0;
            width: 160px;
        }
    }
}
