.product {
    display: flex;
    flex-direction: column;

    &__main-page {
        margin: 83px auto 0;

        @include breakpoints(md) {
            margin: 50px auto 0;
        }

        &-title {
            text-align: center;

            @include breakpoints(sm) {
                font-size: 30px;
            }
        }

        &-text {
            margin: 33px auto 0;
            width: 46%;
            text-align: center;
            font-size: 18px;
            line-height: 146%;
            letter-spacing: 0.01em;

            @include breakpoints(sm) {
                width: 80%;
                font-size: 14px;
            }
        }
    }
    &__shop-filter {
    }

    &__cards {
        margin: 62px auto 0;
        width: 96%;
        display: grid;
        column-gap: 30px;
        row-gap: 45px;
        grid-template-columns: repeat(3, 1fr);

        @include breakpoints(md) {
            margin: 35px auto 0;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            column-gap: 8px;
            row-gap: 15px;
        }

        @include breakpoints(sm) {
            grid-template-columns: repeat(auto-fill, minmax(298px, 1fr));
        }

        @include breakpoints(sm) {
            column-gap: 5px;
            row-gap: 5px;
        }
    }

    &__card {
        position: relative;
        padding: 1px;
        width: 410px;
        border: 2px solid $cardBorder;
        transition: border 0.5s ease-in-out;

        @include breakpoints(xl) {
            width: 100%;
        }

        &:hover {
            border: 2px solid $subGreat;
        }

        &-flag {
            position: absolute;
            top: 4%;
            left: -3px;
            width: 82px;
            height: 31px;
            z-index: 0;
            clip-path: polygon(
                5.042% 0%,
                5.042% 0%,
                4.901% 0.087%,
                4.518% 0.38%,
                3.953% 0.928%,
                3.267% 1.778%,
                2.521% 2.978%,
                1.775% 4.577%,
                1.089% 6.624%,
                0.524% 9.165%,
                0.141% 12.249%,
                0% 15.925%,
                0% 15.925%,
                0% 21.431%,
                0% 29.484%,
                0% 39.348%,
                0% 50.285%,
                0% 61.561%,
                0% 72.437%,
                0% 82.179%,
                0% 90.049%,
                0% 95.31%,
                0% 97.228%,
                0% 97.228%,
                0.02% 96.77%,
                0.094% 95.525%,
                0.242% 93.69%,
                0.484% 91.463%,
                0.84% 89.039%,
                1.331% 86.615%,
                1.976% 84.387%,
                2.796% 82.553%,
                3.812% 81.308%,
                5.042% 80.849%,
                100% 80.849%,
                90.317% 38.984%,
                100% 0%,
                5.042% 0%,
                5.042% 0%
            );

            &-new {
                padding: 7px 15px 12px 12px;
                background: $flagCardNew;
            }

            &-discount {
                padding: 7px 23px 12px 20px;
                background: $flagCardDiscount;
            }
        }

        &-flag-text {
            color: $backgroundColor;
            font-weight: 800;
            font-size: 10px;
            letter-spacing: 0.06em;
        }

        &-search {
            position: absolute;
            top: 27%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: $cardSearch;
            padding: 5px;
            z-index: 2;
            border-radius: 100px;
            opacity: 0;
            transition: all 0.5s ease-in-out;
        }

        &-swiper {
            &:hover {
                .product__card-search {
                    opacity: 1;

                    &:hover {
                        padding: 25px;
                    }
                }
            }
        }

        &-button-prev,
        &-button-next {
            position: absolute;
            top: 26%;
            width: 23px;
            height: 23px;
            z-index: 0;

            @include breakpoints(sm) {
                width: 18px;
                height: 18px;
            }
        }

        &-svg-arrow {
            z-index: 2;
            width: 23px;
            height: 23px;
            fill: $mainPageImgBlur;
            transition: fill 0.5s ease-in-out;

            @include breakpoints(sm) {
                width: 18px;
                height: 18px;
            }

            &:hover {
                fill: $mainGreen;
            }
        }

        &-button-prev {
            left: 4%;
            transform: rotate(90deg);
        }

        &-button-next {
            right: 4%;
            transform: rotate(270deg);
        }

        .product__slide {
            margin: 0 auto;

            @include breakpoints(xl) {
                width: 80%;
            }

            @include breakpoints(sm) {
                min-width: 250px;
            }
        }

        &-text-block {
            display: flex;
            flex-direction: column;
            padding: 20px 17px 13px;
            max-height: 255px;
            height: 100vh;

            @include breakpoints(md) {
                padding: 10px;
                max-height: 250px;
            }

            @include breakpoints(sm) {
                max-height: 145px;
            }

            @include breakpoints(xs) {
                padding: 7px;
            }
        }

        &-type {
            font-weight: 700;
            font-size: 18px;
            letter-spacing: 0.01em;

            @include breakpoints(sm) {
                font-size: 14px;
            }
        }

        &-art {
            margin-top: 6px;
            color: $gray;
            font-weight: 500;
            font-size: 15px;
            letter-spacing: 0.01em;
            font-family: $supportFonts;

            @include breakpoints(sm) {
                display: none;
            }
        }

        &-title {
            margin-top: 12px;
            width: 70%;
            font-weight: 600;
            font-size: 16px;
            line-height: 120%;
            letter-spacing: 0.01em;

            @include breakpoints(sm) {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                width: 100%;
                margin-top: 5px;
                font-size: 14px;
            }
        }

        &-info {
            margin-top: auto;
            width: 96%;
            display: flex;
            justify-content: space-between;
        }

        &-weight {
            display: flex;
            align-items: center;
            gap: 9px;

            &-svg {
                width: 18px;
                height: 18px;

                @include breakpoints(sm) {
                    width: 12px;
                    height: 12px;
                }
            }

            &-block {
            }

            &-text {
                color: $gray;
                font-size: 14px;
                letter-spacing: 0.01em;
                font-family: $supportFonts;

                @include breakpoints(sm) {
                    font-size: 12px;
                }
            }

            &-data {
                color: $mainGreen;
                font-weight: 600;
                font-size: 14px;
                letter-spacing: 0.01em;
                font-family: $supportFonts;

                @include breakpoints(sm) {
                    font-size: 12px;
                }
            }
        }

        &-packaging {
            display: flex;
            align-items: center;
            gap: 14px;

            &-svg {
                width: 12px;
                height: 17px;

                @include breakpoints(sm) {
                    height: 15px;
                }
            }

            &-block {
            }

            &-text {
                color: $gray;
                font-weight: 500;
                font-size: 14px;
                letter-spacing: 0.01em;
                font-family: $supportFonts;

                @include breakpoints(sm) {
                    font-size: 12px;
                }
            }

            &-data {
                color: $mainGreen;
                font-weight: 600;
                font-size: 14px;
                letter-spacing: 0.01em;
                font-family: $supportFonts;

                @include breakpoints(sm) {
                    font-size: 12px;
                }
            }
        }

        &-bottom {
            width: 98%;
            margin-top: 31px;
            display: flex;
            justify-content: space-between;

            @include breakpoints(sm) {
                margin-top: 13px;
            }

            &-price {
                display: flex;
                align-items: center;

                &-text {
                    margin-right: 9px;
                    font-weight: 600;
                    font-size: 15px;
                    letter-spacing: 0.01em;
                    font-family: $supportFonts;

                    @include breakpoints(md) {
                        margin-right: 5px;
                        font-size: 14px;
                    }
                }

                &-green {
                    color: $mainGreen;
                }

                &-gray {
                    color: $gray;
                }

                &-discount {
                    margin: 5px 0 0 10px;
                    position: relative;
                    display: flex;
                    align-items: end;
                    font-size: 16px;
                    letter-spacing: 0.01em;
                    font-family: $supportFonts;

                    @include breakpoints(md) {
                        margin: 5px 0 0 3px;
                        font-size: 14px;
                    }

                    &:after {
                        top: 54%;
                        position: absolute;
                        display: flex;
                        background: $gray;
                        content: "";
                        height: 2px;
                        width: 100%;
                    }

                    span {
                        margin-left: 2px;
                        font-size: 13px;

                        @include breakpoints(sm) {
                            font-size: 11px;
                        }
                    }
                }

                &-regular {
                    font-weight: 600;
                    font-size: 20px;
                    letter-spacing: 0.01em;
                    font-family: $supportFonts;

                    @include breakpoints(md) {
                        font-size: 15px;
                    }

                    span {
                        margin-left: 2px;
                        font-size: 15px;

                        @include breakpoints(sm) {
                            font-size: 12px;
                        }
                    }
                }
            }
            &-buy {
                padding: 11px 36px;
                font-size: 14px;

                @include breakpoints(md) {
                    padding: 7px 34px;
                    font-size: 12px;
                }
            }
        }
    }

    &__button {
        margin: 70px auto 0;
        padding: 14px 27px;
        font-weight: 700;
        font-size: 15px;
        letter-spacing: 0.02em;

        @include breakpoints(sm) {
            margin: 40px auto 0;
            padding: 10px 27px;
            font-size: 12px;
        }
    }

    &__button-load-card {
        padding: 14px 30px;
        margin: 70px auto 0;
        width: 205px;

        @include breakpoints(md) {
            margin: 50px auto 0;
            font-size: 14px;
            padding: 12px 20px;
            width: 190px;
        }

        @include breakpoints(sm) {
            margin: 35px auto 0;
            width: 160px;
        }
    }
}
