.select {
    position: relative;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.02em;
    z-index: 1;

    &__header {
        display: flex;
        transition:
            background-color,
            border 0.5s ease-in-out;
        border: solid 2px transparent;
        cursor: pointer;

        &:hover {
            background: $hoverLists;
        }
    }

    &__header-active {
        border: solid 2px $mainGreen;
    }

    &__current {
    }

    &__svg {
        fill: $subGreat;
        margin-top: 6px;
        width: 10px;
        height: 6px;
        transition: transform 0.5s ease-in-out;
    }

    &__svg-active {
        transform: rotate(180deg);
    }

    &__body {
        position: absolute;
        display: none;
        flex-direction: column;
        background: $backgroundColor;
        border: 1px solid $listBorder;
    }

    &__body-active {
        display: flex;
    }

    &__item {
        position: relative;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        transition:
            color,
            background-color,
            0.3s ease-in-out;

        &::after {
            content: "";
            background: $listBorder;
            width: 100%;
            height: 1px;
        }

        &:last-child::after {
            display: none;
        }

        &:hover {
            background: $mainGreen;
            color: $backgroundColor;
        }
    }
}
