<section class="benefits__container">
    <div class="benefits__content">
        <div class="benefits__title-block">
            <h2 class="benefits__title">О пользе продукта</h2>
            <p class="benefits__title-text">
                Каждый вид ореха содержит свой неповторимый уникальный баланс витаминов, и микроэлементов
            </p>
        </div>
        <div class="benefits__cards-block">
            <div class="benefits__card-block">
                <img
                    class="benefits__card-img benefits__nuts"
                    src="#"
                    alt="image nuts"
                    width="410"
                    height="525"
                    loading="lazy"
                />
                <div class="benefits__card-title-block">
                    <svg class="benefits__card-svg benefits__svg-nuts">
                        <use href="#nut"></use>
                    </svg>
                    <h3 class="benefits__card-title">Грецкий орех</h3>
                    <p class="benefits__card-text">
                        Дерево жизни - так часто величают грецкий орех, поскольку с давних пор он кормил, восстанавливал
                        силы и лечил человека.
                    </p>
                    <p class="benefits__card-text">
                        Даже небольшая горсть грецких орехов - это кладезь витаминов и хорошая профилактика многих
                        заболеваний
                    </p>
                    <div class="benefits__card-background"></div>
                </div>
            </div>
            <div class="benefits__card-block">
                <img
                    class="benefits__card-img benefits__hazelnut"
                    src="#"
                    alt="image hazelnuts"
                    width="410"
                    height="525"
                    loading="lazy"
                />
                <div class="benefits__card-title-block">
                    <svg class="benefits__card-svg benefits__svg-hazelnut">
                        <use href="#hazelnut"></use>
                    </svg>
                    <h3 class="benefits__card-title">Фундук</h3>
                    <p class="benefits__card-text">
                        Дерево жизни - так часто величают грецкий орех, поскольку с давних пор он кормил, восстанавливал
                        силы и лечил человека.
                    </p>
                    <p class="benefits__card-text">
                        Даже небольшая горсть грецких орехов - это кладезь витаминов и хорошая профилактика многих
                        заболеваний
                    </p>
                    <div class="benefits__card-background"></div>
                </div>
            </div>
            <div class="benefits__card-block">
                <img
                    class="benefits__card-img benefits__rosehip"
                    src="#"
                    alt="image rosehips"
                    width="410"
                    height="525"
                    loading="lazy"
                />
                <div class="benefits__card-title-block">
                    <svg class="benefits__card-svg benefits__svg-rosehip">
                        <use href="#rosehip"></use>
                    </svg>
                    <h3 class="benefits__card-title">Шиповник</h3>
                    <p class="benefits__card-text">
                        Дерево жизни - так часто величают грецкий орех, поскольку с давних пор он кормил, восстанавливал
                        силы и лечил человека.
                    </p>
                    <p class="benefits__card-text">
                        Даже небольшая горсть грецких орехов - это кладезь витаминов и хорошая профилактика многих
                        заболеваний
                    </p>
                    <div class="benefits__card-background"></div>
                </div>
            </div>
        </div>
    </div>
</section>
