<section class="manufacturing__background {=$background-class}">
    <div class="manufacturing__container">
        <div class="manufacturing__content">
            <div class="manufacturing__text-block">
                <h2 class="manufacturing__title">О производителе</h2>
                {=$text-block}
                <load
                    src="src/components/base/button.html"
                    class_button="transparent-button {=$button-class}"
                    class_button_text=""
                    component_class=""
                    button_text="Подробнее"
                />
            </div>
            <div class="manufacturing__swiper">
                <div class="swiper manufacturing__swiper-video">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="manufacturing__youtube-container">
                                <div class="manufacturing__preview-img-block">
                                    <img class="{=$preview-img-class}" src="" alt="preview video img" />
                                    <load
                                        src="src/components/base/button.html"
                                        class_button="play-button manufacturing__play"
                                        component_class=""
                                        button_text="<svg class='play-button-svg manufacturing__play-svg'><use href=#play></use></svg>"
                                    />
                                </div>
                                <div class="manufacturing__player"></div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="manufacturing__youtube-container">
                                <div class="manufacturing__preview-img-block">
                                    <img class="{=$preview-img-class}" src="" alt="preview video img" />
                                    <load
                                        src="src/components/base/button.html"
                                        class_button="play-button manufacturing__play"
                                        component_class=""
                                        button_text="<svg class='play-button-svg manufacturing__play-svg'><use href=#play></use></svg>"
                                    />
                                </div>
                                <div class="manufacturing__player"></div>
                            </div>
                        </div>
                    </div>
                    <div class="manufacturing__navigation">
                        <div class="manufacturing__button-prev">
                            <svg class="manufacturing__svg-prev">
                                <use href="#arrow"></use>
                            </svg>
                        </div>
                        <div class="manufacturing__button-next">
                            <svg class="manufacturing__svg-next">
                                <use href="#arrow"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
