<section class="contact__container">
    <div class="contact__content {=$margin-top}">
        <h2 class="contact__title-mobile">Контакты</h2>
        <div class="contact__info">
            <h2 class="contact__info-title">Контакты</h2>
            <div class="contact__info-block">
                <div class="contact__info-phone-block">
                    <div class="contact__info-phone-numbers-block">
                        <svg class="contact__info-svg">
                            <use href="#phone"></use>
                        </svg>
                        <div class="contact__info-phone-numbers">
                            <a class="contact__info-phone-number" href="tel:+38 (095) 711 11 11"
                                >+38 (095) 711 11 11</a
                            >
                            <a class="contact__info-phone-number" href="tel:+38 (097) 775 50 51"
                                >+38 (097) 775 50 51</a
                            >
                        </div>
                    </div>
                </div>
                <div class="contact__info-emails-mobile">
                    <svg class="contact__info-svg-mobile">
                        <use href="#email"></use>
                    </svg>
                    <a class="contact__info-email-text-mobile" href="#">nuts@nbsc.com.ua</a>
                </div>
                <ul class="contact__info-buttons">
                    <li>
                        <a href="#" class="contact__info-button-fill circle-button"
                            ><svg class="contact__info-button-svg circle-button-svg">
                                <use href="#viber"></use></svg
                        ></a>
                    </li>
                    <li>
                        <a href="#" class="contact__info-button-fill circle-button"
                            ><svg class="contact__info-button-svg circle-button-svg">
                                <use href="#whatsApp"></use></svg
                        ></a>
                    </li>
                    <li>
                        <a href="#" class="contact__info-button-fill circle-button"
                            ><svg class="contact__info-button-svg circle-button-svg">
                                <use href="#telegram"></use></svg
                        ></a>
                    </li>
                </ul>
            </div>
            <div class="contact__info-emails">
                <svg class="contact__info-svg">
                    <use href="#email"></use>
                </svg>
                <a class="contact__info-email-text" href="#">nuts@nbsc.com.ua</a>
            </div>
            <div class="contact__info-office">
                <div class="contact__info-office-titles">
                    <svg class="contact__info-svg">
                        <use href="#office"></use>
                    </svg>
                    <h3 class="contact__info-sub-title">Офис и отдел продаж</h3>
                </div>
                <p class="contact__info-office-text contact__info-text">
                    Украина, г. Одесса, ул. Космонавтов, 32
                </p>
            </div>
            <div class="contact__info-factory">
                <div class="contact__info-factory-titles">
                    <svg class="contact__info-svg">
                        <use href="#tree"></use>
                    </svg>
                    <h3 class="contact__info-sub-title">Производство</h3>
                </div>
                <p class="contact__info-factory-text contact__info-text">Украина, Одесская обл,</p>
                <p class="contact__info-factory-text contact__info-text">
                    с. Яськи, ул. Центральная, 232
                </p>
            </div>
        </div>
        <div class="contact__map">
            <iframe class="contact__map-frame" src="https://snazzymaps.com/embed/633570"></iframe>
        </div>
    </div>
</section>
