<section class="main-page {=$eco-class}">
    <div class="main-page__img-block {=$eco-img-block-class}">
        <img class="main-page__img {=$eco-img-class}" src="" alt="image-background" />
    </div>
    <div class="main-page__container {=$eco-text-block-class}">
        <svg class="eco__svg">
            <use href="#eco"></use>
        </svg>
        <h2 class="main-page__title {=$eco-title-class}">{=$eco-title}</h2>
        <p class="main-page__text {=$eco-text-class}">{=$eco-text}</p>
    </div>
</section>
