<header>
    <div class="header">
        <div class="header__top">
            <div class="header__container">
                <div class="header__top-block">
                    <load src="src/components/base/social-media.html" />
                    <div class="header__top-authentication-block">
                        <a class="header__top-mobile-phone header__center-phone" href="tel:+38-(044)-750-50-11"
                            ><svg class="header__top-mobile-phone-svg">
                                <use href="#phone"></use></svg
                            ><span class="header__center-green">+38 (044)</span> 750-50-11</a
                        >
                        <load
                            src="src/components/base/button.html"
                            class_button="header__top-mobile-order"
                            class_button_text=""
                            component_class=""
                            button_text="Заказать звонок"
                            svg=""
                        />
                        <p class="header__top-personal">Ваша персональная скидка - 5%</p>
                        <div class="header__top-authentication header__top-authentication-user">
                            <div class="header__top-authentication-wrapper">
                                <a class="header__top-entrance" href="/nuts/src/pages/login.html">
                                    <svg class="header__top-svg"><use href="#authentication"></use></svg>
                                    <span class="header__top-text-entrance">Вход</span></a
                                >
                                <a class="header__top-registration" href="/nuts/src/pages/registration.html"
                                    >Регистрация</a
                                >
                            </div>
                            <load
                                src="src/components/base/select.html"
                                body_selector="<div class='select__item header__select-item'>UA</div>
                                <div class='select__item header__select-item'>EN</div>
                                <div class='select__item header__select-item'>Ru</div>"
                                current_selector="Ru"
                                select_support_class="header__select"
                                header_support_class="header__select-header"
                                body_support_class="header__select-body"
                                svg_select=""
                                current-class="header__select-language"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header__container">
            <div class="header__center">
                <div class="burger">
                    <div class="burger__icon">
                        <svg class="burger__icon-svg">
                            <use href="#burger-menu"></use>
                        </svg>
                    </div>
                    <div class="burger__background">
                        <div class="burger__scroll">
                            <div class="burger__top-block">
                                <a class="burger__link-logo" href="#"
                                    ><img class="burger__logo-img" src="#" alt="logo" width="34" height="34" /><span
                                        class="burger__logo-text"
                                        >ОРЕХ ПРИЧЕРНОМОРЬЯ</span
                                    ></a
                                >
                                <div class="burger__close burger__link">
                                    <svg class="burger__svg">
                                        <use href="#cross"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="burger__gray-block">
                                <div class="burger__authentication">
                                    <a class="burger__entrance" href="#">
                                        <img class="burger__img" src="#" alt="avatar" width="11" height="11" />
                                        <span class="burger__text-entrance">Вход</span></a
                                    >
                                    <a class="burger__registration" href="#">Регистрация</a>
                                </div>
                                <load
                                    src="src/components/base/social-media.html"
                                    sub-class="burger__links-communication"
                                />
                            </div>
                            <div class="burger__menu">
                                <ul class="burger__links">
                                    <li>
                                        <a class="burger__link-section select__item" href="#">Магазин</a>
                                    </li>
                                    <li class="burger__button">
                                        <a class="burger__link-section select__item" href="#">О производстве </a>
                                    </li>
                                    <li class="burger__button">
                                        <a class="burger__link-section select__item" href="#">Оплата и доставка</a>
                                    </li>
                                    <li class="burger__button">
                                        <a class="burger__link-section select__item" href="#"
                                            >Оптовым и корпоративным клиентам</a
                                        >
                                    </li>
                                    <li class="burger__button">
                                        <a class="burger__link-section select__item" href="#">Новости и статьи</a>
                                    </li>
                                    <li class="burger__button">
                                        <a class="burger__link-section select__item" href="#">Контакты</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="header__center-link" href="/nuts/index.html"
                    ><img class="header__center-logo" src="#" alt="logo" width="54" height="54" /><span
                        class="header__center-logo-text"
                        >ОРЕХ ПРИЧЕРНОМОРЬЯ</span
                    ></a
                >
                <div class="header__center-block">
                    <div class="header__center-communication">
                        <load src="src/components/base/social-button.html" sub-class-button="header__center-buttons" />
                        <div class="header__center-phones">
                            <a class="header__center-phone" href="tel:+38-(044)-750-50-11"
                                ><span class="header__center-green">+38 (044)</span> 750-50-11</a
                            >
                            <a class="header__center-phone" href="tel:+38-(097)-775-50-51"
                                ><span class="header__center-green">+38 (097)</span> 775-50-51</a
                            >
                        </div>
                    </div>
                    <div class="header__center-order">
                        <load
                            src="src/components/base/button.html"
                            class_button="green-button header__center-button-order"
                            class_button_text="nvcn"
                            component_class=""
                            button_text="Заказать звонок"
                        />
                        <p class="header__center-text">Ждем Вашего звонка ежедневно с 9 до 18</p>
                    </div>
                    <div class="header__center-basket">
                        <svg class="header__center-svg"><use href="#basket"></use></svg
                        ><span class="header__center-counter">O</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="header__bottom-line"></div>
        <p class="header__mobile-discount">Ваша персональная скидка - 5%</p>
        <div class="header__container">
            <ul class="header__button-links">
                <li><a class="header__bottom-link" href="/nuts/src/pages/catalog-products.html">Магазин</a></li>
                <li><a class="header__bottom-link" href="/nuts/src/pages/about-company.html">О производстве </a></li>
                <li>
                    <a class="header__bottom-link" href="/nuts/src/pages/payment-delivery.html">Оплата и доставка</a>
                </li>
                <li>
                    <a class="header__bottom-link" href="/nuts/src/pages/wholesale-corporate-clients.html"
                        >Оптовым и корпоративным клиентам</a
                    >
                </li>
                <li><a class="header__bottom-link" href="/nuts/404.html">Новости и статьи</a></li>
                <li><a class="header__bottom-link" href="/nuts/404.html">Контакты</a></li>
            </ul>
        </div>
    </div>
</header>
