<header>
    <div>
        <ul>
            <li>
                <a
                    ><svg><use></use></svg
                ></a>
            </li>
            <li>
                <a
                    ><svg><use></use></svg
                ></a>
            </li>
            <li>
                <a
                    ><svg><use></use></svg
                ></a>
            </li>
        </ul>
        <p>Ваша персональная скидка - 5%</p>
        <div>
            <a><img src="" /><span>Вход</span></a>
            <a>Регистрация</a>
            <load src="src/components/base/select.html" />
        </div>
    </div>
</header>
