<section class="hectares__container">
    <div class="hectares__content {=$margin-top}">
        <div class="hectares__text-block">
            <div class="hectares__title-block">
                <h3 class="hectares__title">240</h3>
                <p class="hectares__title-support">Га</p>
            </div>
            <p class="hectares__text">Cмешанных садов</p>
        </div>
        <div class="hectares__text-block">
            <div class="hectares__title-block">
                <h3 class="hectares__title">1</h3>
                <p class="hectares__title-support">Га</p>
            </div>
            <p class="hectares__text">Тепличного комплекса</p>
        </div>
        <div class="hectares__text-block">
            <div class="hectares__title-block">
                <h3 class="hectares__title">10</h3>
                <p class="hectares__title-support">Га</p>
            </div>
            <p class="hectares__text">Первая промышленная плантация шиповника в Украине</p>
        </div>
        <div class="hectares__text-block">
            <div class="hectares__title-block">
                <h3 class="hectares__title">80</h3>
                <p class="hectares__title-support">%</p>
            </div>
            <p class="hectares__text">Приживаемости саженцев</p>
        </div>
    </div>
</section>
