<section class="product product__container">
    <div class="product__main-page {=$class-title}">
        <h2 class="product__main-page-title">Продукция</h2>
        <p class="product__main-page-text">
            Экологически чистые, качественные ядра грецкого ореха и фундука, а также плоды шиповника в удобной,
            надежной, вакуумной упаковке разного объема
        </p>
    </div>
    <div class="product-filter__shop-block {=$class-filter}">
        <div class="product-filter__block">
            <p class="product-filter__text">Фильтр</p>
            <svg class="product-filter__svg"><use href="#filter"></use></svg>
        </div>
        <div class="product-filter__filter-block">
            <load
                src="src/components/base/select.html"
                body_selector="<div class='select__item product-filter__item'>сладкий</div>
                           <div class='select__item product-filter__item'>солоний</div>"
                current_selector="Вкус"
                select_support_class="product-filter__select-taste"
                header_support_class="product-filter__select-header-taste"
                body_support_class="product-filter__select-body-taste"
                svg_select="product-filter__select-svg"
                current-class="product-filter__current-taste"
            />
            <load
                src="src/components/base/select.html"
                body_selector="<div class='select__item product-filter__item'>30-39</div>
                           <div class='select__item product-filter__item'>40-49</div>
                           <div class='select__item product-filter__item'>50-59</div>
                           <div class='select__item product-filter__item'>60-69</div>
                           <div class='select__item product-filter__item'>70-99</div>
                           <div class='select__item product-filter__item'>100-250</div>"
                current_selector="Масса"
                select_support_class="product-filter__select-weight"
                header_support_class="product-filter__select-header-weight"
                body_support_class="product-filter__select-body-weight"
                svg_select="product-filter__select-svg"
                current-class="product-filter__current-weight"
            />
            <div class="product-filter__cost-block">
                <p class="product-filter__cost-text">Стоимость</p>
                <div class="product-filter__cost-arrows">
                    <load
                        src="src/components/base/button.html"
                        class_button="product-filter__cost-button product-filter__higher-price"
                        class_button_text=""
                        component_class=""
                        aria-label="sort prices from the most expensive to the least expensive products"
                        button_text="<svg class='product-filter__cost-svg-top'>
                <use href='#arrow'></use></svg>"
                    />
                    <load
                        src="src/components/base/button.html"
                        class_button="product-filter__cost-button product-filter__lower-price"
                        class_button_text=""
                        component_class=""
                        aria-label="sort prices from the cheapest to the most expensive products"
                        button_text="<svg class='product-filter__cost-svg-bottom'>
                    <use href='#arrow'></use></svg>"
                    />
                </div>
            </div>
        </div>
        <div class="product-filter__end-buttons">
            <load
                src="src/components/base/button.html"
                class_button="green-button product-filter__apply-button"
                class_button_text=""
                component_class=""
                button_text="Применить"
            />
            <load
                src="src/components/base/button.html"
                class_button="product-filter__cross-button"
                class_button_text=""
                component_class=""
                button_text="<svg class='product-filter__cross-svg'>
                    <use href='#cross'></use></svg> Сбросить"
            />
        </div>
    </div>
    <div class="product__cards"></div>
    <a href="/nuts/src/pages/catalog-products.html" class="transparent-button product__button {=$product-link-class}"
        >Перейти в магазин</a
    >
    <load
        src="src/components/base/button.html"
        class_button="transparent-button {=$product-button-class}"
        class_button_text=""
        component_class=""
        button_text="Загрузить еще"
    />
</section>
