<section class="product product__container">
    <div class="product__main-page {=$class-title}">
        <h2 class="product__main-page-title">Продукция</h2>
        <p class="product__main-page-text">
            Экологически чистые, качественные ядра грецкого ореха и фундука, а также плоды шиповника
            в удобной, надежной, вакуумной упаковке разного объема
        </p>
    </div>
    <div class="product__shop-filter {=$class-filter}">
        <load
            src="src/components/base/select.html"
            body_selector="<div class='select__item'>Вкус</div>
                           <div class='select__item'>сладкий</div>
                           <div class='select__item'>гіркий</div>"
            current_selector="Вкус"
            select_support_class="header__select"
            header_support_class="header__select-header"
            body_support_class="header__select-body"
            svg_select=""
        />
        <load
            src="src/components/base/select.html"
            body_selector="<div class='select__item'>Масса</div>
                           <div class='select__item'>30</div>
                           <div class='select__item'>40</div>
                           <div class='select__item'>50</div>
                           <div class='select__item'>60</div>
                           <div class='select__item'>70</div>
                           <div class='select__item'>100+</div>"
            current_selector="Масса"
            select_support_class="header__select"
            header_support_class="header__select-header"
            body_support_class="header__select-body"
            svg_select=""
        />
        <div class="">
            <p class="">Стоимость</p>
            <load
                src="src/components/base/button.html"
                class_button="green-button"
                class_button_text=""
                component_class=""
                button_text="<svg class='header__top-mobile-phone-svg'>
                <use href='#arrow'></use></svg>"
            />
            <load
                src="src/components/base/button.html"
                class_button="green-button"
                class_button_text=""
                component_class=""
                button_text="<svg class='header__top-mobile-phone-svg'>
                    <use href='#arrow'></use></svg>"
            />
        </div>
        <load
            src="src/components/base/button.html"
            class_button="green-button"
            class_button_text=""
            component_class=""
            button_text="Применить"
        />
        <load
            src="src/components/base/button.html"
            class_button="green-button"
            class_button_text=""
            component_class=""
            button_text="<svg class='header__top-mobile-phone-svg'>
                    <use href='#cross'></use></svg> Сбросить"
        />
    </div>
    <div class="product__cards">
    </div>
    <a href="#" class="transparent-button product__button">Перейти в магазин</a>
    <!--    <load-->
    <!--        src="src/components/base/button.html"-->
    <!--        class_button=""-->
    <!--        class_button_text=""-->
    <!--        component_class=""-->
    <!--        button_text="{=$product-button-text}"-->
    <!--    />-->
</section>
