<section class="popup__content">
    <!--    <div class="popup__background-block">-->
    <!--        <svg class="popup__cross">-->
    <!--            <use href="#cross"></use>-->
    <!--        </svg>-->
    <!--        <div class="swiper popup__swiper">-->
    <!--            <div class="swiper-wrapper popup__swiper-wrapper"></div>-->
    <!--            <button class="popup__button-prev">-->
    <!--                <svg class="popup__svg-prev">-->
    <!--                    <use href="#arrow-bracket"></use>-->
    <!--                </svg>-->
    <!--            </button>-->
    <!--            <button class="popup__button-next">-->
    <!--                <svg class="popup__svg-next">-->
    <!--                    <use href="#arrow-bracket"></use>-->
    <!--                </svg>-->
    <!--            </button>-->
    <!--        </div>-->
    <!--        <div class="popup__title-block">-->
    <!--            <h3 class="popup__title">''</h3>-->
    <!--            <div class="popup__price">-->
    <!--                <p class="product__card-bottom-price-discount product__card-bottom-price-gray">-->
    <!--                    <span></span>-->
    <!--                    <span>грн.</span>-->
    <!--                </p>-->
    <!--                <p class="product__card-bottom-price-regular product__card-bottom-price-green">-->
    <!--                    <span></span>-->
    <!--                    <span>грн.</span>-->
    <!--                </p>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
</section>
