<section class="product product__container">
    <div class="product__main-page {=$class-title}">
        <h2 class="product__main-page-title">Продукция</h2>
        <p class="product__main-page-text">
            Экологически чистые, качественные ядра грецкого ореха и фундука, а также плоды шиповника
            в удобной, надежной, вакуумной упаковке разного объема
        </p>
    </div>
    <div class="product__shop-filter {=$class-filter}">
        <load
            src="src/components/base/select.html"
            body_selector="<div class='select__item'>Вкус</div>
                           <div class='select__item'>сладкий</div>
                           <div class='select__item'>гіркий</div>"
            current_selector="Вкус"
            select_support_class="header__select"
            header_support_class="header__select-header"
            body_support_class="header__select-body"
            svg_select=""
        />
        <load
            src="src/components/base/select.html"
            body_selector="<div class='select__item'>Масса</div>
                           <div class='select__item'>30</div>
                           <div class='select__item'>40</div>
                           <div class='select__item'>50</div>
                           <div class='select__item'>60</div>
                           <div class='select__item'>70</div>
                           <div class='select__item'>100+</div>"
            current_selector="Масса"
            select_support_class="header__select"
            header_support_class="header__select-header"
            body_support_class="header__select-body"
            svg_select=""
        />
        <div class="">
            <p class="">Стоимость</p>
            <load
                src="src/components/base/button.html"
                class_button="green-button"
                class_button_text=""
                component_class=""
                button_text="<svg class='header__top-mobile-phone-svg'>
                <use href='#arrow'></use></svg>"
            />
            <load
                src="src/components/base/button.html"
                class_button="green-button"
                class_button_text=""
                component_class=""
                button_text="<svg class='header__top-mobile-phone-svg'>
                    <use href='#arrow'></use></svg>"
            />
        </div>
        <load
            src="src/components/base/button.html"
            class_button="green-button"
            class_button_text=""
            component_class=""
            button_text="Применить"
        />
        <load
            src="src/components/base/button.html"
            class_button="green-button"
            class_button_text=""
            component_class=""
            button_text="<svg class='header__top-mobile-phone-svg'>
                    <use href='#cross'></use></svg> Сбросить"
        />
    </div>
    <div class="product__cards">
        <div class="product__card">
            <div class="product__card-flag product__card-flag-discount">
                <p class="product__card-flag-text">АКЦИЯ</p>
            </div>
            <a href="#" class="">
                <div class="product__card-swiper">
                    <div class="product__card-search">
                        <load
                            src="src/components/base/button.html"
                            class_button="circle-button"
                            class_button_text=""
                            component_class=""
                            button_text="<svg class='circle-button-svg'>
                        <use href='#search'></use></svg>"
                        />
                    </div>
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><img class="product__slide-1" src="" /></div>
                            <div class="swiper-slide"><img class="product__slide-2" src="" /></div>
                            <div class="swiper-slide"><img class="product__slide-3" src="" /></div>
                        </div>
                    </div>
                    <div class="product__card-button-prev">
                        <svg class="product__card-svg-arrow">
                            <use href="#arrow"></use>
                        </svg>
                    </div>
                    <div class="product__card-button-next">
                        <svg class="product__card-svg-arrow">
                            <use href="#arrow"></use>
                        </svg>
                    </div>
                </div>
                <div class="product__card-text-block">
                    <h4 class="product__card-type">Грецкий орех</h4>
                    <p class="product__card-art">Арт: 0091</p>
                    <h3 class="product__card-title">Орех сладкий, классический, очищенный</h3>
                    <div class="product__card-info">
                        <div class="product__card-weight">
                            <svg class="product__card-weight-svg">
                                <use href="#weights"></use>
                            </svg>
                            <div class="product__card-weight-block">
                                <p class="product__card-weight-text">Масса:</p>
                                <p class="product__card-weight-data">40г.</p>
                            </div>
                        </div>
                        <div class="product__card-packaging">
                            <svg class="product__card-packaging-svg">
                                <use href="#package"></use>
                            </svg>
                            <div class="product__card-packaging-block">
                                <p class="product__card-packaging-text">Упаковка</p>
                                <p class="product__card-packaging-data">вакуумная</p>
                            </div>
                        </div>
                    </div>
                    <div class="product__card-bottom">
                        <div class="product__card-bottom-price">
                            <p class="product__card-bottom-price-text">Цена:</p>
                            <p
                                class="product__card-bottom-price-regular product__card-bottom-price-green"
                            >
                                19<span>грн.</span>
                            </p>
                            <p
                                class="product__card-bottom-price-discount product__card-bottom-price-gray"
                            >
                                21<span>грн.</span>
                            </p>
                        </div>
                        <load
                            src="src/components/base/button.html"
                            class_button="green-button product__card-bottom-buy"
                            class_button_text=""
                            component_class=""
                            button_text="Купить"
                        />
                    </div>
                </div>
            </a>
        </div>
    </div>
    <a href="#" class="transparent-button product__button">Перейти в магазин</a>
    <!--    <load-->
    <!--        src="src/components/base/button.html"-->
    <!--        class_button=""-->
    <!--        class_button_text=""-->
    <!--        component_class=""-->
    <!--        button_text="{=$product-button-text}"-->
    <!--    />-->
</section>
