<ul class="social__links {=$sub-class}">
    <li class="social__link">
        <a href="#" aria-label="facebook"
            ><svg class="social__svg"><use href="#facebook"></use></svg
        ></a>
    </li>
    <li class="social__link">
        <a href="#" aria-label="instagram"
            ><svg class="social__svg"><use href="#instagram"></use></svg
        ></a>
    </li>
    <li class="social__link">
        <a href="#" aria-label="youtube"
            ><svg class="social__svg"><use href="#youtube"></use></svg
        ></a>
    </li>
</ul>
