<ul class="{=$sub-class-button}">
    <li>
        <a href="#" class="header__center-button" aria-label="viber"
            ><svg class="header__center-button-svg">
                <use href="#viber"></use></svg
        ></a>
    </li>
    <li>
        <a href="#" class="header__center-button" aria-label="whatsApp"
            ><svg class="header__center-button-svg">
                <use href="#whatsApp"></use></svg
        ></a>
    </li>
    <li>
        <a href="#" class="header__center-button" aria-label="telegram"
            ><svg class="header__center-button-svg">
                <use href="#telegram"></use></svg
        ></a>
    </li>
</ul>
