<div class="{=$sub-class-button}">
    <a href="#" class="header__center-button" aria-label="viber"
        ><svg class="header__center-button-svg">
            <use href="#viber"></use></svg
    ></a>
    <a href="#" class="header__center-button" aria-label="whatsApp"
        ><svg class="header__center-button-svg">
            <use href="#whatsApp"></use></svg
    ></a>
    <a href="#" class="header__center-button" aria-label="telegram"
        ><svg class="header__center-button-svg">
            <use href="#telegram"></use></svg
    ></a>
</div>
