<section class="personal-cabinet__container">
    <div class="personal-cabinet__content">
        <div class="personal-cabinet__site-bar">
            <h2 class="personal-cabinet__title">Учетная запись</h2>
            <load
                src="src/components/base/button.html"
                class_button="green-button personal-cabinet__button"
                component_class=""
                button_text="меню учетной записи"
            />
            <div class="personal-cabinet__block-list">
                <div class="personal-cabinet__links-block">
                    <svg class="personal-cabinet__menu-cross"><use href="#cross"></use></svg>
                    <h3 class="personal-cabinet__sub-title">Мои заказы</h3>
                    <ul class="personal-cabinet__links-items">
                        <li>
                            <a class="personal-cabinet__link" href="#">История заказов</a>
                        </li>
                        <li>
                            <a class="personal-cabinet__link" href="#">История транзакций</a>
                        </li>
                    </ul>
                </div>
                <div class="personal-cabinet__links-block">
                    <h3 class="personal-cabinet__sub-title">Моя учетная запись</h3>
                    <ul class="personal-cabinet____links-items">
                        <li>
                            <a class="personal-cabinet__link" href="#">Контактная информация</a>
                        </li>
                        <li>
                            <a class="personal-cabinet__link" href="#">Пароль</a>
                        </li>
                        <li>
                            <a class="personal-cabinet__link" href="#">Адрес</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="personal-cabinet__work-area">
            <div class="personal-cabinet__personal-manager">
                <div class="personal-cabinet__block">
                    <p class="personal-cabinet__personal-manager-name">Ваш личный менеджер Олег</p>
                    <a class="personal-cabinet__personal-manager-link" href="tel:+38 067 777 14 12"
                        ><svg class="personal-cabinet__personal-manager-svg"><use href="#phone"></use></svg
                        ><span class="personal-cabinet__personal-manager-text">+38 067 777 14 12</span></a
                    >
                </div>
                <p class="personal-cabinet__personal-discount">Ваша персональная скидка - 5%</p>
            </div>
            <div></div>
        </div>
    </div>
</section>
