.personal-cabinet {
    &__rename-form {
        width: 65%;
        margin: 52px 0 0 5px;

        @include breakpoints(xl) {
            width: 75%;
            gap: 15px;
        }

        @include breakpoints(md) {
            width: 85%;
        }

        @include breakpoints(sm) {
            display: flex;
            flex-direction: column;
            margin: 30px auto 0;
            width: 95%;
        }
    }

    &__rename-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;

        @include breakpoints(sm) {
            flex-wrap: wrap;
            gap: 10px;
        }
    }

    &__inputs-text {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 75%;

        @include breakpoints(sm) {
            margin: 0 auto;
            max-width: 450px;
            width: 100%;
            gap: 6px;
        }
    }

    &__input {
        padding: 14px;
        width: 100%;

        @include breakpoints(md) {
            padding: 12px;
        }
    }

    &__save-button {
        margin-top: 15px;
        padding: 14px 0;
        width: 230px;

        @include breakpoints(md) {
            margin-top: 8px;
            width: 200px;
            padding: 12px;
            font-size: 14px;
        }

        @include breakpoints(sm) {
            margin: 5px auto;
        }
    }

    &__input-photo {
        @include breakpoints(sm) {
            margin: 0 auto;
        }
    }

    &__img {
    }

    &__input-photo-user {
    }
}
