<section class="corporate-clients__container">
    <div class="corporate-clients__content">
        <h2 class="corporate-clients__title">Оптовым и корпоративным клиентам</h2>
        <div class="corporate-clients__text-section">
            <div class="corporate-clients__text-block">
                <p class="corporate-clients__text">
                    Сельскохозяйственный обслуживающий кооператив “Орех Причерноморья” предлагает своим клиентам
                    выгодные условия сотрудничества.
                </p>
                <p class="corporate-clients__text">
                    Особые условия подготовлены для
                    <span class="corporate-clients__text-bolt"
                        >розничных магазинов, компаний HoReCa, спорт - клубов.</span
                    >
                </p>
            </div>
            <div class="corporate-clients__text-block">
                <p class="corporate-clients__text">
                    Мы готовы рассмотреть особые условия для оптовых покупателей, с готовностью идем на встречу любому
                    предложению.
                </p>
                <p class="corporate-clients__text">
                    Если вы заинтересованы в нашей продукции, пишите, или звоните в наш главный офис - мы всегда пойдем
                    вам на встречу!
                </p>
            </div>
        </div>
    </div>
</section>
