<section class="forms-cooperation__container">
    <div class="forms-cooperation__content">
        <nav class="forms-cooperation__tabs-header">
            <ul class="forms-cooperation__tabs-items">
                <li class="forms-cooperation__tab-item">
                    <button
                        class="forms-cooperation__tab-button forms-cooperation__tab-button_active"
                        data-id="supermarketContainer"
                    >
                        <svg class="forms-cooperation__tab-svg forms-cooperation__tab-svg_active">
                            <use href="#supermarket"></use>
                        </svg>
                        <span class="forms-cooperation__tab-text">Крупные супермаркеты</span>
                    </button>
                </li>
                <li class="forms-cooperation__tab-item">
                    <button class="forms-cooperation__tab-button" data-id="shopContainer">
                        <svg class="forms-cooperation__tab-svg">
                            <use href="#shop"></use>
                        </svg>
                        <span class="forms-cooperation__tab-text">Розничные магазины</span>
                    </button>
                </li>
                <li class="forms-cooperation__tab-item">
                    <button class="forms-cooperation__tab-button" data-id="restaurantContainer">
                        <svg class="forms-cooperation__tab-svg">
                            <use href="#restaurant"></use>
                        </svg>
                        <span class="forms-cooperation__tab-text">Компании HoReCa</span>
                    </button>
                </li>
                <li class="forms-cooperation__tab-item">
                    <button class="forms-cooperation__tab-button" data-id="fitnessContainer">
                        <svg class="forms-cooperation__tab-svg">
                            <use href="#fitness"></use>
                        </svg>
                        <span class="forms-cooperation__tab-text">Фитнес и спорт клубы </span>
                    </button>
                </li>
                <li class="forms-cooperation__tab-item">
                    <button class="forms-cooperation__tab-button" data-id="pastryShopsContainer">
                        <svg class="forms-cooperation__tab-svg">
                            <use href="#pastryShops"></use>
                        </svg>
                        <span class="forms-cooperation__tab-text">Кондитерские и пекарни </span>
                    </button>
                </li>
            </ul>
        </nav>
        <div class="forms-cooperation__tabs-body">
            <div class="forms-cooperation__tab forms-cooperation__tab_active" id="supermarketContainer">
                <div class="forms-cooperation__content-text">
                    <div class="forms-cooperation__block-text">
                        <p class="forms-cooperation__text">
                            СОК "Орех Причерноморья" предлагает своим клиентам выгодные условия сорудничества.
                        </p>
                        <p class="forms-cooperation__text">
                            Мы готовы рассмотреть особые условия для оптовых покупателей, с готовностью идем на встречу
                            к любому предложению.
                        </p>
                        <p class="forms-cooperation__text">
                            Особые условия подготовленны для розничных магазинов. компаний HoReCa, спорт-клубов.
                        </p>
                        <p class="forms-cooperation__text">
                            Если вы заинтересованы в нашей продукции, пишите или звоните в наш главный офис, мы всегда
                            пойдем вам на встречу.
                        </p>
                    </div>
                    <load
                        src="src/components/base/button.html"
                        class_button="green-button forms-cooperation__button"
                        component_class=""
                        button_text="Написать нам"
                    />
                </div>
                <img class="forms-cooperation__img" src="" />
            </div>
            <div class="forms-cooperation__tab" id="shopContainer">
                <div class="forms-cooperation__content-text">
                    <div class="forms-cooperation__block-text">
                        <p class="forms-cooperation__text">
                            СОК "Орех Причерноморья" предлагает выгодные условия сотрудничества для розничных магазинов.
                        </p>
                        <p class="forms-cooperation__text">
                            Мы готовы предоставить широкий ассортимент качественных орехов и сухофруктов, удобную
                            систему поставок и гибкие условия оплаты.
                        </p>
                        <p class="forms-cooperation__text">
                            Наша продукция привлечет новых покупателей и повысит продажи в вашем магазине.
                        </p>
                        <p class="forms-cooperation__text">
                            Если вы заинтересованы в сотрудничестве, свяжитесь с нами для обсуждения индивидуальных
                            условий.
                        </p>
                    </div>
                    <load
                        src="src/components/base/button.html"
                        class_button="green-button forms-cooperation__button"
                        component_class=""
                        button_text="Написать нам"
                    />
                </div>
                <img class="forms-cooperation__img" src="" />
            </div>
            <div class="forms-cooperation__tab" id="restaurantContainer">
                <div class="forms-cooperation__content-text">
                    <div class="forms-cooperation__block-text">
                        <p class="forms-cooperation__text">
                            СОК "Орех Причерноморья" предлагает особые условия для компаний сегмента HoReCa.
                        </p>
                        <p class="forms-cooperation__text">
                            Мы обеспечим вас высококачественными ингредиентами для ваших блюд и напитков, гарантируя
                            стабильные поставки и неизменное качество.
                        </p>
                        <p class="forms-cooperation__text">
                            Наши продукты помогут разнообразить ваше меню и удовлетворить самых требовательных клиентов.
                        </p>
                        <p class="forms-cooperation__text">
                            Свяжитесь с нами для разработки индивидуального предложения для вашего бизнеса.
                        </p>
                    </div>
                    <load
                        src="src/components/base/button.html"
                        class_button="green-button forms-cooperation__button"
                        component_class=""
                        button_text="Написать нам"
                    />
                </div>
                <img class="forms-cooperation__img" src="" />
            </div>
            <div class="forms-cooperation__tab" id="fitnessContainer">
                <div class="forms-cooperation__content-text">
                    <div class="forms-cooperation__block-text">
                        <p class="forms-cooperation__text">
                            СОК "Орех Причерноморья" предлагает специальные условия сотрудничества для фитнес и спорт
                            клубов.
                        </p>
                        <p class="forms-cooperation__text">
                            Наши натуральные орехи и сухофрукты - идеальный выбор для здорового питания ваших клиентов.
                        </p>
                        <p class="forms-cooperation__text">
                            Мы можем обеспечить вас продукцией для продажи в клубе или для использования в составе
                            спортивного питания.
                        </p>
                        <p class="forms-cooperation__text">
                            Обратитесь к нам для обсуждения вариантов сотрудничества и специальных предложений.
                        </p>
                    </div>
                    <load
                        src="src/components/base/button.html"
                        class_button="green-button forms-cooperation__button"
                        component_class=""
                        button_text="Написать нам"
                    />
                </div>
                <img class="forms-cooperation__img" src="" />
            </div>
            <div class="forms-cooperation__tab" id="pastryShopsContainer">
                <div class="forms-cooperation__content-text">
                    <div class="forms-cooperation__block-text">
                        <p class="forms-cooperation__text">
                            СОК "Орех Причерноморья" предлагает выгодные условия для кондитерских и пекарен.
                        </p>
                        <p class="forms-cooperation__text">
                            Наши высококачественные орехи и сухофрукты станут отличными ингредиентами для ваших
                            изысканных десертов и выпечки.
                        </p>
                        <p class="forms-cooperation__text">
                            Мы гарантируем стабильные поставки и индивидуальный подход к каждому клиенту.
                        </p>
                        <p class="forms-cooperation__text">
                            Свяжитесь с нами, чтобы обсудить ваши потребности и получить специальное предложение.
                        </p>
                    </div>
                    <load
                        src="src/components/base/button.html"
                        class_button="green-button forms-cooperation__button"
                        component_class=""
                        button_text="Написать нам"
                    />
                </div>
                <img class="forms-cooperation__img" src="" />
            </div>
        </div>
    </div>
</section>
