.payment-delivery {
    &__img {
    }

    &__text-block {
        margin: 118px 0;

        @include breakpoints(md) {
            margin: 100px 0;
        }

        @include breakpoints(sm) {
            margin: 80px 0;
        }

        @include breakpoints(xs) {
            margin: 70px 0;
        }
    }

    &__block-img {
        height: 300px;

        @include breakpoints(md) {
            height: 250px;
        }

        @include breakpoints(sm) {
            height: 200px;
        }

        @include breakpoints(xs) {
            height: 170px;
        }
    }

    &__title {
        @include breakpoints(md) {
            font-size: 44px;
        }

        @include breakpoints(sm) {
            margin: 0 auto;
            width: 100%;
            font-size: 30px;
        }
    }

    &__text {
        @include breakpoints(md) {
            width: 60%;
            font-size: 18px;
        }

        @include breakpoints(sm) {
            width: 90%;
            font-size: 14px;
        }
    }
}
