$mainFont: "Raleway";
$supportFonts: "Montserrat";

@font-face {
    font-display: swap;
    font-family: $mainFont;
    font-weight: 800;
    src: url("/src/assets/forms/Raleway-ExtraBold.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-family: $mainFont;
    font-weight: 700;
    src: url("/src/assets/forms/Raleway-Bold.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-family: $mainFont;
    font-weight: 600;
    src: url("/src/assets/forms/Raleway-SemiBold.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-family: $mainFont;
    font-weight: 500;
    src: url("/src/assets/forms/Raleway-Medium.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-family: $supportFonts;
    font-weight: 800;
    src: url("/src/assets/forms/Montserrat-ExtraBold.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-family: $supportFonts;
    font-weight: 500;
    src: url("/src/assets/forms/Montserrat-Medium.woff") format("woff");
}
