*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    background: $backgroundColor;
    font-family: $mainFont;
}

p {
    color: $textColor;
    font-family: $mainFont;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.01em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $mainFont;
    font-weight: 800;
    color: $textColor;
    letter-spacing: 0.01em;
}

h2,
h3,
h4,
h5,
h6 {
    font-size: 45px;
}

h1 {
    font-size: 62px;
}

a {
    font-size: 22px;
    color: $textColor;
    font-family: $mainFont;
    font-weight: 500;
}

ul,
ol {
    color: $textColor;
}

button {
    font-family: $mainFont;
    letter-spacing: 0.02em;
    transition:
        color,
        background-color 0.5s ease-in-out;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.main {
    flex: 1 1 auto;
}

.hidden {
    display: none;
}

.green {
    color: $mainGreen;
}

[class*="__container"] {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;

    @include breakpoints(xl) {
        padding: 0 20px;
    }

    @include breakpoints(sm) {
        padding: 0 12px;
    }
}

.social {
    &__links {
        display: flex;
        padding-left: 16px;
        gap: 19px;

        @include breakpoints(sm) {
            display: none;
        }
    }

    &__link {
        &:hover {
            .social__svg {
                fill: $subGreat;
            }
        }
    }

    &__svg {
        fill: $headerSvg;
        width: 14px;
        height: 14px;
        transition: fill 0.5s ease-in-out;
    }
}

//green button

.swiper {
    &__block {
        display: flex;
        justify-content: space-between;
        width: 124px;
        position: absolute;
        left: 7px;
        bottom: -8px;
        z-index: 4;

        @include breakpoints(md) {
            width: 100px;
        }

        @include breakpoints(xs) {
            left: 5px;
            width: 90px;
        }
    }

    &__button-prev,
    &__button-next {
        padding: 24px 19px;
        background: $mainGreen;
        cursor: pointer;

        @include breakpoints(md) {
            padding: 18px 13px;
        }

        @include breakpoints(xs) {
            padding: 15px 13px;
        }

        &:hover {
            .swiper__svg-prev,
            .swiper__svg-next {
                fill: $backgroundColor;
            }
        }
    }

    &__svg-prev,
    &__svg-next {
        width: 16px;
        height: 18px;
        fill: $manufacturingButtonArrow;
        transition: fill 0.5s ease-in-out;
    }

    &__button-next {
        transform: rotate(270deg);
    }

    &__button-prev {
        transform: rotate(90deg);
    }
}

.swiper {
    z-index: -1 !important;
}
