$mainGreen: #337d5a;
$subGreat: #93b474;
$textColor: #1a2f3f;
$backgroundColor: #fff;
$gray: #8a8a8a;
$hoverLists: rgba(51, 125, 90, 0.1);
$listBorder: rgba(0, 0, 0, 0.08);
$headerTopBackground: rgba(245, 245, 245, 0.5);
$headerSvg: #323232;
$headerLine: rgba(0, 0, 0, 0.06);
$mainPageImgBlur: rgba(0, 0, 0, 0.45);
$cardBorder: rgba(0, 0, 0, 0.08);
$cardSearch: rgba(255, 255, 255, 0.15);
$cardArrow: #c4c4c4;
$flagCardNew: #e1843e;
$flagCardDiscount: #dd133b;
$manufacturingBackground: #f1f1f1;
$manufacturingButtonArrow: rgba(255, 255, 255, 0.5);
$manufacturingBackground: #e3e3e3;
$filter: rgba(0, 0, 0, 0.1);
$scrollTrack: rgba(0, 0, 0, 0.1);
$registrationBorder: rgba(0, 0, 0, 0.15);
$checkboxTextColor: #8a8a8a;
$cross: #c4c4c4;
$crossActive: #ff0000;
$inactive: #9c9c9c;
