<section class="product-information__container">
    <div class="product-information__content">
        <nav class="product-information__tab-header">
            <ul class="product-information__tab-items">
                <li class="product-information__tab-item product-information__tab-item_active">Описание</li>
                <li class="product-information__tab-item">Упаковка</li>
                <li class="product-information__tab-item">Оплата</li>
                <li class="product-information__tab-item">Доставка</li>
            </ul>
        </nav>
        <div class="product-information__tab-body">
            <picture class="product-information__img-block">
                <img class="product-information__img" src="#" />
            </picture>
            <div class="product-information__text-content">
                <div class="product-information__text-block">
                    <p class="product-information__text">
                        Уже 4000 лет люди питаются ценными грецкими орехами. Они особенно полезны послеоперационным
                        больным, детям, кормящим, беременным женщинам. Чтобы вернуть силы, укрепить иммунитет, одолеть
                        туберкулез, кашель; грецкий орех очищенный, отборный нужно истолочь, смешать с медом (2:1) и
                        чайную ложку целебной смеси употреблять перед едой.
                    </p>
                    <p class="product-information__text">
                        В белке грецких орехов много (15 %) аргинина. Он особенно нужен детям, больным, пожилым людям, в
                        организме которых аминокислота плохо синтезируется. Аргинин помогает сосудам регенерировать, а
                        всему организму – победить воспаления.
                    </p>
                </div>
                <div class="product-information__text-block-list">
                    <h3 class="product-information__text-title">Другие полезные вещества грецких орехов:</h3>
                    <ul class="product-information__text-items">
                        <li class="product-information__text-item">Антиоксиданты защищают печень от повреждений</li>
                        <li class="product-information__text-item">
                            Полифенолы не дают образоваться сосудистым тромбам
                        </li>
                        <li class="product-information__text-item">
                            Нейропротекторы улучшают работу мозга, отодвигают старость
                        </li>
                    </ul>
                </div>
                <div class="product-information__text-block-list">
                    <h3 class="product-information__text-title">Нужно систематически есть грецкие орехи, чтобы:</h3>
                    <ul class="product-information__text-items">
                        <li class="product-information__text-item">
                            На 30–40 % снизить риск заболевания раком простаты
                        </li>
                        <li class="product-information__text-item">На 50 % – раком молочной железы</li>
                        <li class="product-information__text-item">
                            Предотвратить дегенерацию глазной макулы, а значит, улучшить зрение
                        </li>
                        <li class="product-information__text-item">
                            Отрегулировать обмен веществ, выработку инсулина; понизить количество сахара в крови
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
