<section class="login__container">
    <div class="login__content">
        <h2 class="login__title">Войти в личный кабинет</h2>
        <form class="login__form" name="">
            <div class="input__block">
                <label class="input__label" for="loginEmail">Email</label>
                <input class="login__input input__area" id="loginEmail" name="loginEmail" />
            </div>
            <div class="input__block">
                <label class="input__label" for="loginPassword">Пароль</label>
                <input class="login__input input__area" id="loginPassword" name="loginPassword" />
            </div>
        </form>
        <div class="login__block-buttons">
            <a class="login__link-reset-password" href="#">Забыли пароль?</a>
            <load
                src="src/components/base/button.html"
                class_button="green-button login__button"
                class_button_text="nvcn"
                component_class=""
                button_text="Войти"
            />
            <a class="login__link-register" href="/nuts/src/pages/registration.html">Регистрация</a>
        </div>
    </div>
</section>
