<section class="ceo__container">
    <div class="ceo__content">
        <div class="ceo__representations-block">
            <picture class="ceo__representations-img-block">
                <img class="ceo__representations-img" src="" alt="Павел Тулба CEO" />
            </picture>
            <div class="ceo__representations-text-block">
                <h2 class="ceo__representations-title">Павел Тулба</h2>
                <p class="ceo__representations-text">Учередитель и владелец предприятия “Орех Причерноморья”</p>
                <div class="ceo__representations-goal-block">
                    <svg class="ceo__representations-svg"><use href="#quotes"></use></svg>
                    <p class="ceo__representations-text-italic">
                        Главная наша цель – получить максимальную прибыль с одного гектара.
                    </p>
                </div>
                <load
                    src="src/components/base/button.html"
                    class_button="transparent-button ceo__representations-button"
                    component_class=""
                    button_text="Написать нам"
                />
            </div>
        </div>
        <div class="ceo__history-block">
            <h2 class="ceo__history-title">История предприятия</h2>
            <div class="ceo__history-text-items">
                <p class="ceo__history-text">
                    Наше предприятие основано в 2012 году для закладки смешанного сада грецкого ореха и фундука.
                </p>
                <p class="ceo__history-text">
                    На сегодня мы уже заложили более 100 гектаров сада и продолжаем расширять свои насаждения. Кроме
                    выращивания грецкого ореха и фундука, мы занимаемся выращиванием саженцев, разведением и
                    выращиванием овец, а также являемся первой в Украине компанией, приступившей к промышленному
                    выращиванию трюфелей на корнях фундука.
                </p>
                <p class="ceo__history-text">
                    Земля, которой пользуется кооператив, является собственностью членов нашего кооператива.
                </p>
            </div>
            <svg class="ceo__history-svg"><use href="#logo"></use></svg>
        </div>
    </div>
</section>
