<section class="gallery__container">
    <div class="gallery__content {=$margin-class-body}">
        <div class="gallery__title-block {=$title-class}">
            <h2 class="gallery__title">Галерея</h2>
            <p class="gallery__sub-text">Кадры социальной активности компании</p>
        </div>
        <div class="gallery__box"></div>
        <div class="{=$button-block-class}">
            <a class="transparent-button gallery__button {=$link-class}" href="/nuts/src/pages/gallery.html"
                >Смотреть всю галерею</a
            >
            <load
                src="src/components/base/button.html"
                class_button="transparent-button gallery__button gallery__button-load {=$button-class}"
                component_class=""
                button_text="Посмотреть еще"
            />
        </div>
    </div>
</section>
